@model ScoreToGo.ViewModels.GamePlayViewModel
@{
    ViewBag.Title = "Game";
}

@section scripts {
    <script src="~/App/Game/App.js"></script>
}

@section jsCode {
    angular.bootstrap(document.getElementById("gamePlay"), ['gamePlay']);S
}

<div id="gamePlay" ng-controller="gameViewModel" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div ng-view></div>
</div>
