body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.columns-2 {
    columns: 2;
}

/*//!!move to animation.css*/
.player {    
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.player.ng-move,
.player.ng-enter,
.player.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity:0;
}

.player.ng-leave.ng-leave-active,
.player.ng-move.ng-move-active,
.player.ng-enter.ng-enter-active {
    opacity:1;
}